<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.zephyretech.alfred.objectid</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>4B15C08D-99EC-4029-BB79-BA9EBBF8F7BF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B24D0176-EC7F-4328-95B5-99D5F2743752</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Zephyre</string>
	<key>description</key>
	<string>Extract information from an ObjectId value</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>ObjectId Analyzer</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>B24D0176-EC7F-4328-95B5-99D5F2743752</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>oid</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>python process.py "{query}"</string>
				<key>subtext</key>
				<string>Examples: 55f921e3b257b626287de5fe, gen</string>
				<key>title</key>
				<string>Enter an ObjectId string, or "gen" to generate a new one</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4B15C08D-99EC-4029-BB79-BA9EBBF8F7BF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>4B15C08D-99EC-4029-BB79-BA9EBBF8F7BF</key>
		<dict>
			<key>ypos</key>
			<real>100</real>
		</dict>
		<key>B24D0176-EC7F-4328-95B5-99D5F2743752</key>
		<dict>
			<key>ypos</key>
			<real>100</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
